.form-input {
    padding: 1rem 1rem;
    border-radius: .4rem;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: $color-neutral-medium;
    font-size: 1.6rem;
    width: 28rem;
    outline: none;
    margin-bottom: 4rem;

    @include respond(phone) {
        width: 34rem;
    }

    &:focus {
        box-shadow: inset 0 0 0 2px $color-accent;
    }
}